{% extends "base.html" %}

{% block title_head %}
    Acerca de mí
{% endblock %}

{% block contenido %}
    <section class="about">
        <h1>Acerca de mí</h1>
        <p>
            Hola, mi nombre es <strong>Sofía Lenci</strong>. Tengo 28 años y soy Ingeniera Industrial. 
            Considero muy importante aprender sobre <em>Python</em> y leer libros. 
            Por eso, les comparto la siguiente página para que puedan ver todas las lecturas cargadas.
        </p>
    </section>
{% endblock %}
