<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title_head %}Librería{% endblock  %}
    </title>
</head>
<body>
    <nav>
        <a href={% url "primeravista" %}>Inicio</a>
        <a href={% url "cargar" %}>Cargar Libro</a>
        <a href={% url "listar" %}>Listado de Libros</a>
        <a href={% url "iniciar_sesion" %}>Iniciar sesion</a>
    </nav>
    <main>
        {% block contenido %}
        
        {% endblock contenido %}


    </main>

</body>
</html>